h1 {
    text-align: center;
}

.sugar-background {
    background-color: rgba(241, 186, 134, 0.3);
}

.chocolate-background {
    background-color: rgba(197, 137, 17, 0.38);
}

.lemon-background {
    background-color: rgba(241, 241, 134, 0.3);
}

p {
    font-family: 'Trebuchet MS';
    padding-left: 10px;
    padding-right: 10px;
}

li {
    font-family: 'Gill Sans';
    font-size: 17px;
    padding-bottom: 10px;
}

.odin-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}